
@{
    ViewBag.Title = "SSShopping";
    Layout = "~/Views/GioHang.cshtml";
}
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="heading">
                    <h1>
                        <span class="shopper">Cảm ơn bạn đã mua sản phẩm của shop</span>
                        <br />
                        <a style="color:orchid" href="@Url.Action("Index", "Home")"><i class="fa fa-shopping-cart">Mua thêm</i></a>
                    </h1>
                </div>
            </div>

        </div>
    </div>
</div>

