@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - About Page</title>




    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>About Our Company</h2>
                        <span>Awesome, clean &amp; creative HTML5 Template</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="~/Images/shopgiay.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>Thành Viên Nhóm 6</span>
                        <table style="width: 100%;">

                            <tr>
                                <th style="width:40%;">Họ Tên</td>
                                <th style="width:15%;">Lớp</td>
                                <th style="width:45%;">MSSV</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Trần Chính Huy</td>
                                <td>D18_TH06</td>
                                <td>&nbsp&nbspDH51801196</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Thanh Toàn</td>
                                <td>D18_TH04</td>
                                <td>&nbsp&nbspDH51800850</td>
                            </tr>
                            <tr>
                                <td>Ngô Hồng Phương</td>
                                <td>D18_TH05</td>
                                <td>&nbsp&nbspDH51802024</td>
                            </tr>
                            <tr>
                                <td>Lê Quốc Khánh</td>
                                <td>D18_TH06</td>
                                <td>&nbsp&nbspDH51800726</td>
                            </tr>
                            <tr>
                                <td>Lê Trần Lợi</td>
                                <td>D18_TH05</td>
                                <td>&nbsp&nbspDH51801672</td>
                            </tr>
                            <tr>
                                <td>Phạm Công Minh</td>
                                <td>D18_TH05</td>
                                <td>&nbsp&nbspDH51801592</td>
                            </tr>
                        </table>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->
    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Trademark</h2>
                        <span>some brands that the store is doing business in.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/Images/nike.jpg" style="width:280px;height:128px;>
                        </div>
                        <div class="down-content">
                            <h4>Adidas</h4>
                            <span>Product Caretaker</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/Images/adidas.png" style="width:280px;height:128px;>
                        </div>
                        <div class="down-content">
                            <h4>Nike</h4>
                            <span>Product Caretaker</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/Images/biti.jpg" style="width:280px;height:128px;>
                        </div>
                        <div class="down-content">
                            <h4>Biti's</h4>
                            <span>Product Caretaker</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->
    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Services</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>ULTRA BOOST</h4>
                        <p>Một cơn chấn động lớn từ Adidas VN được mang tên là Ultra Boost và trở thành đôi giày xuất sắc nhất trong lịch sử 70 năm qua của Adidas. Siêu phẩm giày chạy bộ này vừa được tung ra và đã khiến cho giới thời trang cũng như giới chạy bộ và thể thao phải ngước nhìn, đã làm mưa làm gió từ năm 2015 đến giờ vẫn còn rất nóng và không có dấu hiệu giảm nhiệt chút nào.</p>
                        <img src="~/Images/untralboot.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Nike Air Max 90</h4>
                        <p>Đôi đầu tiên SaigonSneaker.com muốn giới thiệu cho bạn chính là huyền thoại của các tín đồ theo đuổi Retro Runner. Nike Air Max 90 lần đầu được ra mắt đã gây bão thời điểm đó, người người nhà nhà đổ xô đi mua Nike Air Max 90 vì thiết kế đẹp mắt kèm theo công nghệ Air lạ lẫm.Đến tận bây giờ AM90 vẫn được săn đón khá nhiều và đây là đôi giày “must-have” của các bạn có sở thích về Retro Runner và được đánh giá là những đôi giày Nike đẹp nhất.</p>
                        <img src="~/Images/max.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Biti’s Hunter X</h4>
                        <p>Nằm trong bộ sưu tập mới nhất của Biti’s Hunter, giày thể thao nam Biti’s Hunter X DSMH03500 không chỉ đáp ứng yêu cầu của một đôi giày thể thao mà còn đáp ứng được nhu cầu thẩm mỹ của mỗi người.</p>
                        <img src="~/Images/hunterx.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->
    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-5">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ string]*string[^ string]*" placeholder="Your Email Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>180 Cao Lỗ, Quận 8, TP.Hồ Chí Minh </span></li>
                                <li>Phone:<br><span>098-888-8888</span></li>
                                <li>Office Location:<br><span>Đại Học Công Nghệ Sài Gòn</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    <script>$(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });</script>

</body>
